.prose:not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  --tw-prose-body: theme(--color-text-tertiary);
  --tw-prose-headings: theme(--color-text-primary);
  --tw-prose-lead: theme(--color-text-tertiary);
  --tw-prose-links: theme(--color-text-tertiary);
  --tw-prose-bold: theme(--color-text-primary);
  --tw-prose-counters: theme(--color-text-tertiary);
  --tw-prose-bullets: theme(--color-text-tertiary);
  --tw-prose-hr: theme(--color-border-secondary);
  --tw-prose-quotes: theme(--color-text-primary);
  --tw-prose-quote-borders: theme(--color-fg-brand-primary_alt);
  --tw-prose-captions: theme(--color-text-tertiary);
  --tw-prose-code: theme(--color-text-tertiary);
  --tw-prose-pre-code: theme(--color-text-tertiary);
  --tw-prose-pre-bg: theme(--color-bg-primary);
  --tw-prose-th-borders: theme(--color-border-primary);
  --tw-prose-td-borders: theme(--color-border-secondary);

  /* Base */
  color: theme(--color-text-primary);
  font-size: theme(--text-sm);
  line-height: theme(--text-sm--line-height);
}

.prose :not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  /* Text */
  &:where(p) {
    margin-top: calc(theme(--spacing) * 4);
    margin-bottom: calc(theme(--spacing) * 4);
  }

  &:where([class~="lead"]) {
    font-size: theme(--text-md);
    line-height: theme(--text-md--line-height);
    margin-top: 1.2em;
    margin-bottom: 1.2em;
  }

  /* Lists */
  &:where(ol) {
    list-style-type: decimal;

    margin-top: calc(theme(--spacing) * 4);
    margin-bottom: calc(theme(--spacing) * 4);
    padding-inline-start: calc(theme(--spacing) * 5.75);
  }
  &:where(ul) {
    list-style-type: disc;

    margin-top: calc(theme(--spacing) * 4);
    margin-bottom: calc(theme(--spacing) * 4);
    padding-inline-start: calc(theme(--spacing) * 5.75);
  }
  &:where(li) {
    margin-top: calc(theme(--spacing) * 2);
    margin-bottom: calc(theme(--spacing) * 2);
  }
  &:where(ol > li) {
    padding-inline-start: 1px;
    margin-top: 0;
    margin-bottom: 0;
  }
  &:where(ul > li) {
    padding-inline-start: 1px;
    margin-top: 0;
    margin-bottom: 0;
  }

  /* Horizontal rules */
  &:where(hr) {
    margin-top: calc(theme(--spacing) * 8);
    margin-bottom: calc(theme(--spacing) * 8);
  }

  /* Quotes */
  &:where(blockquote) {
    color: var(--tw-prose-quotes);

    border-left-width: 2px;
    border-left-color: var(--tw-prose-quote-borders);

    padding-inline-start: 0;
    margin-top: calc(theme(--spacing) * 10);
    margin-bottom: calc(theme(--spacing) * 10);
  }
  &:where(blockquote p) {
    margin: 0;
    font-weight: 500;
    font-style: italic;

    font-size: theme(--text-xl);
    line-height: theme(--text-xl--line-height);
  }
  &:where(blockquote p:first-of-type::before) {
    content: open-quote;
  }
  &:where(blockquote p:last-of-type::after) {
    content: close-quote;
  }

  /* Headings */
  &:where(h1) {
    color: var(--tw-prose-headings);
    font-weight: 600;

    font-size: theme(--text-display-sm);
    line-height: theme(--text-display-sm--line-height);
    margin-bottom: calc(theme(--spacing) * 5);
    margin-top: calc(theme(--spacing) * 10);
  }
  &:where(h2) {
    color: var(--tw-prose-headings);
    font-weight: 600;

    font-size: theme(--text-display-xs);
    line-height: theme(--text-display-xs--line-height);
    margin-bottom: calc(theme(--spacing) * 4);
    margin-top: calc(theme(--spacing) * 8);
  }
  &:where(h3) {
    color: var(--tw-prose-headings);
    font-weight: 600;

    font-size: theme(--text-xl);
    line-height: theme(--text-xl--line-height);
    margin-bottom: calc(theme(--spacing) * 3);
    margin-top: calc(theme(--spacing) * 8);
  }
  &:where(h4) {
    color: var(--tw-prose-headings);
    font-weight: 600;

    font-size: theme(--text-lg);
    line-height: theme(--text-lg--line-height);
    margin-bottom: calc(theme(--spacing) * 2);
    margin-top: calc(theme(--spacing) * 5);
  }

  &:where(h2 + *) {
    margin-top: 0;
  }
  &:where(h3 + *) {
    margin-top: 0;
  }
  &:where(h4 + *) {
    margin-top: 0;
  }

  &:where(h1 strong) {
    font-weight: 900;
    color: inherit;
  }
  &:where(h2 strong) {
    font-weight: 800;
    color: inherit;
  }
  &:where(h3 strong) {
    font-weight: 700;
    color: inherit;
  }
  &:where(h4 strong) {
    font-weight: 700;
    color: inherit;
  }

  /* Media */

  &:where(img) {
    border-radius: theme(--radius-xl);
    width: 100%;
    object-fit: cover;

    margin-top: calc(theme(--spacing) * 8);
    margin-bottom: calc(theme(--spacing) * 8);
  }
  &:where(video) {
    margin-top: calc(theme(--spacing) * 8);
    margin-bottom: calc(theme(--spacing) * 8);
  }
  &:where(figure) {
    margin-top: calc(theme(--spacing) * 10);
    margin-bottom: calc(theme(--spacing) * 10);
  }
  &:where(figure > *) {
    margin-top: 0;
    margin-bottom: 0;
  }
  &:where(figure:has(> blockquote)) {
    border-left-width: 2px;
    border-left-color: var(--tw-prose-quote-borders);
    padding-top: calc(theme(--spacing) * 2);
    padding-bottom: calc(theme(--spacing) * 2);

    padding-inline-start: calc(theme(--spacing) * 4);
  }
  &:where(figure:has(> blockquote) blockquote) {
    padding-inline-start: 0;
    border: none;
  }
  &:where(img + figcaption) {
    display: flex;
    align-items: center;
    gap: calc(theme(--spacing) * 1.5);
  }
  &:where(figcaption) {
    color: var(--tw-prose-captions);

    font-size: theme(--text-sm);
    line-height: theme(--text-sm--line-height);
    margin-top: calc(theme(--spacing) * 3);
  }
  &:where(cite) {
    font-style: normal;
  }

  /* Inline elements */
  &:where(a:not(h1 a, h2 a, h3 a, h4 a, h5 a, h6 a)) {
    font-weight: 400;
    text-decoration: underline;
    text-underline-offset: 3px;
  }

  &:where(a:focus-visible) {
    border-radius: theme(--radius-sm);
    outline: 2px solid theme(--color-focus-ring);
    outline-offset: 2px;
  }
  &:where(:is(h1, h2, h3) a) {
    color: var(--tw-prose-headings);
    font-weight: inherit;
    text-decoration: none;
  }

  /* Inline code element */
  &:where(code:not(pre code)) {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 700;
    border-radius: 6px;
    padding: calc(theme(--spacing) * 0.5) calc(theme(--spacing) * 1.5);
    margin: calc(theme(--spacing) * -0.5) 0px;
    background: theme(--color-bg-secondary);
    box-shadow: 0 0 0 1px theme(--color-border-secondary);

    &::before,
    &::after {
      content: "";
    }
  }
}

.prose.prose-centered-quote
  :not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  &:where(blockquote) {
    padding-inline-start: 0px !important;
    border-left: none;
    text-align: center;
  }
  &:where(figure:has(> blockquote)) {
    border-left: none;
    padding-inline-start: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    text-align: center;
  }
}

.prose.prose-minimal-quote
  :not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  &:where(blockquote) {
    border-left: none;
    padding-inline-start: 0px !important;
  }
  &:where(figure:has(> blockquote)) {
    border-left: none;
    padding-inline-start: 0px !important;
  }
}

.prose.md\:prose-lg:not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  @media (width >= 48rem /* 768px */) {
    /* Base */
    font-size: theme(--text-lg);
    line-height: theme(--text-lg--line-height);
  }
}

.prose.md\:prose-lg :not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  @media (width >= 48rem /* 768px */) {
    /* Text */
    &:where(p) {
      margin-top: calc(theme(--spacing) * 4.5);
      margin-bottom: calc(theme(--spacing) * 4.5);
    }

    &:where([class~="lead"]) {
      font-size: theme(--text-xl);
      line-height: theme(--text-xl--line-height);
      margin-top: 1.09em;
      margin-bottom: 1.09em;
    }

    /* Lists */
    &:where(ol) {
      margin-top: calc(theme(--spacing) * 4.5);
      margin-bottom: calc(theme(--spacing) * 4.5);
      padding-inline-start: calc(theme(--spacing) * 6.5);
    }
    &:where(ul) {
      margin-top: calc(theme(--spacing) * 4.5);
      margin-bottom: calc(theme(--spacing) * 4.5);
      padding-inline-start: calc(theme(--spacing) * 6.5);
    }

    &:where(ol > li) {
      padding-inline-start: 1px;
      margin-top: 0;
      margin-bottom: 0;
    }
    &:where(ul > li) {
      padding-inline-start: 1px;
      margin-top: 0;
      margin-bottom: 0;
    }

    /* Horizontal rules */
    &:where(hr) {
      margin-top: calc(theme(--spacing) * 8);
      margin-bottom: calc(theme(--spacing) * 8);
    }

    /* Quotes */
    &:where(blockquote) {
      padding-inline-start: 0;
      margin-top: calc(theme(--spacing) * 12);
      margin-bottom: calc(theme(--spacing) * 12);
    }
    &:where(blockquote p) {
      margin: 0;

      font-size: theme(--text-display-xs);
      line-height: theme(--text-display-xs--line-height);
    }

    /* Headings */
    &:where(h1) {
      font-size: theme(--text-display-md);
      line-height: theme(--text-display-md--line-height);
      margin-bottom: calc(theme(--spacing) * 6);
      margin-top: calc(theme(--spacing) * 12);
    }
    &:where(h2) {
      font-size: theme(--text-display-sm);
      line-height: theme(--text-display-sm--line-height);
      margin-bottom: calc(theme(--spacing) * 5);
      margin-top: calc(theme(--spacing) * 10);
    }
    &:where(h3) {
      font-size: theme(--text-display-xs);
      line-height: theme(--text-display-xs--line-height);
      margin-bottom: calc(theme(--spacing) * 4);
      margin-top: calc(theme(--spacing) * 8);
    }
    &:where(h4) {
      font-size: theme(--text-xl);
      line-height: theme(--text-xl--line-height);
      margin-bottom: calc(theme(--spacing) * 3);
      margin-top: calc(theme(--spacing) * 8);
    }
    &:where(h2 + *) {
      margin-top: 0;
    }
    &:where(h3 + *) {
      margin-top: 0;
    }
    &:where(h4 + *) {
      margin-top: 0;
    }

    &:where(figure) {
      margin-top: calc(theme(--spacing) * 12);
      margin-bottom: calc(theme(--spacing) * 12);
    }
    &:where(figure > *) {
      margin-top: 0;
      margin-bottom: 0;
    }
    &:where(figure:has(> blockquote)) {
      padding-inline-start: calc(theme(--spacing) * 5);
    }
    &:where(figure > blockquote + figcaption) {
      font-size: theme(--text-md);
      line-height: theme(--text-md--line-height);
    }

    &:where(figcaption) {
      margin-top: calc(theme(--spacing) * 4);
    }

    /* Inline elements */
    &:where(a:not(h1 a, h2 a, h3 a, h4 a, h5 a, h6 a)) {
      font-weight: 400;
      text-decoration: underline;
      text-underline-offset: 3px;
    }
    &:where(:is(h1, h2, h3) a) {
      color: var(--tw-prose-headings);
      font-weight: inherit;
      text-decoration: none;
    }

    /* Inline code element */
    &:where(code:not(pre code)) {
      font-size: 0.875rem;
      line-height: 1.25rem;
      font-weight: 700;
      border-radius: 6px;
      padding: calc(theme(--spacing) * 0.5) calc(theme(--spacing) * 1.5);
      margin: calc(theme(--spacing) * -0.5) 0px;
      background: theme(--color-bg-secondary);
      box-shadow: 0 0 0 1px theme(--color-border-secondary);
    }
  }
}

/* Remove top margin from first element */
.prose
  > :first-child:not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  margin-top: 0;
}
.prose > :last-child:not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  margin-bottom: 0;
}
